/* // Larg devices (desktops, 1200px and up) */
@media (min-width: 1201px) and (max-width: 1400px) {
  .main_menu ul.maga {
	min-width: 285px;
}
.main_menu ul li {
	padding: 10px 15px;
}
.header-right ul li {
	padding: 10px 15px;
}

    

}

/* // Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
  .main_menu ul.maga {
	min-width: 222px;
}
.hero-wrapper {
    background-position: center;
}


}



/* // Tablet devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
	.header-area {
    min-height: 140px;
}
.main_menu {
    text-align: center;
}
.maga-menu {
    width: 100%;
}
.main_menu ul.maga {
    margin-left: 20px;
    padding: 0px;
    min-width: 320px;
    text-align: left;
}
.hero-wrapper {
    background-position: right;
}








}







/* Small mobile : 320px */
@media (max-width: 767px) {
	.header-logo {
    position: relative;
    text-align: left;
}
.header-logo a {
    position: absolute;
    top: -50px;
    left: 0;
}
.mobile-nav.mean-container .mean-bar {
    background: none;;
    z-index: 999;
}
.mobile-nav a.meanmenu-reveal {
    color: #000;
}
.mobile-nav.mean-container a.meanmenu-reveal {
    color: #222;
}
.mobile-nav.mean-container a.meanmenu-reveal span {
    display: block;
    background: #222;
    height: 3px;
    margin-top: 3px;
}
ul.mini-cart {
    width: 325px;
    padding: 10px;
}
ul.mini-cart li .cart-text {
    padding-left: 10px;
}
.search-from form {
    width: 320px;
}



.banner-wrapper {
    background-position: left;
}

.product_area {
    padding: 0 15px;
    padding-bottom: 0px !important;
}
.sub-content {
    padding: 100px 20px;
}
.sub-content form input {
    width: 65%;
}
.sub-content form button {
    width: 30%;
}
.product_active .owl-nav button.owl-next::before{
	display: none;
}
.footer-second {
    text-align: center;
}
.footer-social {
    margin-top: 0px;
		text-align: center;
}
.footer-wrapper {
    padding: 25px 20px;
}


/* login Form Style */
.login-form {
    padding: 0 20px;
}


/* Shop Page Style
================== */
.shop-grid-area{
    padding: 0 30px;
}
.shop-sidber {
    display: none;
    margin-right: 0px;
}
.shop-list-icon ul li a {
    padding: 5px 10px;
}
.shop-list-cat a {
    padding: 8px 15px;;
}
.shop-list-wrapper h3 a {
    margin-top: 30px;
    display: block;
}
.grid-wrapper {
    margin-left: 0;
}
.shop-bn-img {
    margin-left: 0;
}
.filter select {
    display: none;
}
.priv-next span a {
    padding: 6px 14px;
    margin: 0 1px;
}


/* Product Page Style */
.product_details {
    padding: 0 20px;
}
.pro-dt-tabe {
    padding: 0 20px;
}
.breadcrumb-title {
    padding-top: 30px;
}






}







 /* Large Mobile :480px */
@media (min-width: 480px) and (max-width: 767px) { 






}
